html, body {
  overflow: hidden;
  margin: 0px;
  padding: 1px;
  height: 99vh;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.header {
  grid-area: header;
  background-color: #333;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.header a {
  color: #f2f2f2;
  float: left;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 1px;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: #7ebd96;
  color: black;
}

.header a.floatr {
  float: right;
}

.header a.fs {
  padding: 8px;
}

.header i {
  font-size: 36px;
}

.notebook {
  grid-area: notebook;
}

.scene {
  grid-area: scene;
  overflow: auto;
  user-select: none;
}

.code {
  grid-area: code;
  overflow: auto;
}

.code textarea {
  height: 100%;
  width: 100%;
}

.info-tabs {
  display: grid;
  grid-template-rows: 32px auto;
}

.controls {
  background-color: #eee;
  font-size: 20px;
  text-align: center;
}

.info-msgs {
  overflow: scroll;
  border-bottom: solid 1px #eee;
  border-top: solid 5px #eee;
}

.tabs {
  border-bottom: solid 3px #eee;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}

.tabs div {
  font-size: 13px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 5px;
}

.tabs div:hover {
  background-color: #ddd;
  color: black;
}

.tabs a {
  text-decoration: none;
}

.tabs i {
  font-size: 15px;
}

.right-mid {
  grid-area: info;
  display: grid;
  grid-template-columns: 30px 1fr;
  background-color: #f9f9f9;
  font-family: Inconsolata, monospace;
  font-size: 12px;
}

.footer {
  grid-area: footer;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #ccc;
  padding-top: 5px;
}

.grid-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 51px 1fr 55px 1fr 80px;
  grid-template-areas:
    'header header'
    'notebook scene'
    'notebook info'
    'notebook code'
    'footer footer';
}
