[{:type :stop :label "Start"}
 {:type :markdown :value
  "You can start by evaluating something like:"}
 {:type :input :sample? true :value
  "'doc"}
 {:type :stop}
 {:type :markdown :value
  "Or go into some more action with:"}
 {:type :input :silent? true :value
  "'es \"BACH:\\n[b& a c2 h1]\\n:BACH\""}
 {:type :input :sample? true :value
  "
  ['iclear]
  ['igmn 'bach1 (r 'erl #\"BACH\")]
  ['isetx 'time 'rect 1 1]
  ['imsg 'time 'show 0]
  ['iwatch 'time 'ddate
    (r 'imsg 'bach1 'dangle 0.4 '--keep)]
  ['imsg 'time 'tempo 1]"}]
